[submodule "mvp3-app-todo"]
	path = mvp3-app-todo
	url = git@github.com:BrunoBasstos/mvp3-app-todo.git
[submodule "mvp3-api-bridge"]
	path = mvp3-api-bridge
	url = git@github.com:BrunoBasstos/mvp3-api-bridge.git
[submodule "mvp3-api-todo"]
	path = mvp3-api-todo
	url = git@github.com:BrunoBasstos/mvp3-api-todo.git
